/*Geral*/

body {
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration:none;
	color:black;
}

.form-group {
	overflow:hidden;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.6em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

.main-desc hr.star-primary:after {
	content:"";
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #396DD0;
}

hr.star-primary {
    border-color: #396DD0;
}

hr.star-primary:after {
    color: #F9C80E;
    background-color: #fff;
}

.home-cont {
    max-width: 530px;
    padding: 55px 34px 35px;
    border-radius: 6px;
    /*background: #396DD0;*/
    background: rgba(34,150,243,0.85);
    border: 10px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cadastrar-cont {
    padding: 55px 34px 35px;
    border-radius: 6px;
    background: rgba(34,150,243,0.9);
    border: 10px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.home {
    height:100%;
    background: url('../img/bg1.jpg') no-repeat 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cadastrar {
    height:100%;
    background: url('../img/bg2.jpeg') no-repeat 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.btn-home {
    max-width: 110px;
    margin: 0 auto;
}

.home h2, .cadastrar h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

.novo {
    text-align:center;
}

.novo:hover {
    text-decoration:underline;
}